
.sidenav{
  height: 100%;
  width: 185px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 5px;

}

.sidenav p{
  color: #FFFFFF;
}

.sidenav img{
  border-radius: 50%;
  vertical-align: middle;
  max-width: 75%;
  max-height: 75%;
}

.main{
  margin-left: 245px;
  padding: 0px 10px;
}

a.linkbutton:link, a.linkbutton:visited{
  display:block;
  border-radius:12px;
  background-color: silver;
  text-align: center;
  padding: 10px 10px;
  width:max-width;
  /*margin-bottom: 10px;*/
}

.project{
  margin-left: 250px;
  width: inherit;
  background: rgba(128, 128, 128, 0.3);
  color: #FFFFFF;
}

#menu-div{
  background-color: plum;
  border: none;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  padding: 2.5px;
  text-transform: lowercase;
}

#contact-div{
  border: none;
}

#project-div{
  border: double;
  border-color: black;
  background-color: whitesmoke;
  width: 35%;
  display: inline-block;
  padding: 10px;
  /*height: 400px;*/
}

#menu{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#menu_li{
  float: left;
  display: block;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}

h1{
  font-family: "Times", Times, serif;
  color: #FFFFFF;
}

h2{
  font-family: "Times", Times, serif;
  color: #bfa0e8;
}

p{
  font-family: "Times", Times, serif;
  font-style: normal;
}

ul{
  font-family: "Times", Times, serif;
}

div{
  border: none;
  margin-left: 0.5px;
  margin-right: 100px;
  margin-top:0.5px;
  padding: 25px;
}

.dropdown-content{

  position: absolute;
  background-color: RosyBrown;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
  text-decoration: none;
}

/*li a:hover, .dropdown:hover .dropbtn {
  background-color: MediumOrchid;
}

li.dropdown {
  display: inline-block;
}

.dropdown:hover .dropdown-content{
  display: block;
}*/
