
.header_and_menu{
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #0e1925;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  max-width: 2500px;
}

.main{
  max-width: 1500px;
  padding: 0px 30px;
}

p{
  font-family: 'Playfair Display', serif;
  color: #0e1925;
  padding-top: 10px;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: 0e1925;
  /*color: #87CEEB;*/
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 4px;
  overflow: hidden;
}

li{
  float: left;
  font-size: 26px;
}

li a{
  display: block;
  padding: 8px;
}

a:link,a:visited{
  color: #506565;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

div{
  border: none;
  margin-left: 0.5px;
  margin-right: 100px;
  margin-top:0.5px;
  padding: 25px;
}

.sidebar {
height: 250px;
width: 175px;
position: -webkit-sticky; /* for Safari users */
position: sticky;
top: 0px;
float: right;
margin-top: 0px;
padding-top: 0.5px;
background-color: #87CEEB;
}

.sidebar div {
padding: 8px;
font-size: 24px;
display: block;
}
